<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Red_Ink_for_Word.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="RedDragon_for_Word.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.32.1.0" newVersion="3.32.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.11.1.0" newVersion="4.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.11.1.0" newVersion="4.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.CommonProtos" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.17.0.0" newVersion="2.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WinHttpHandler" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.72.0.0" newVersion="1.72.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.LongRunning" publicKeyToken="185c282632e132a0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NAudio.Core" publicKeyToken="e279aa5131008a41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Red_Ink_for_Word.MySettings>
      <setting name="LastChatHistory" serializeAs="String">
        <value />
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="DoCommands" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeDocument" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeSelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotAlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastPrompt" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSpeechModel" serializeAs="String">
        <value />
      </setting>
      <setting name="LastAudioSource" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSpeakerEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastSpeakerDistance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastVoice" serializeAs="String">
        <value />
      </setting>
      <setting name="TTS1languagecode" serializeAs="String">
        <value />
      </setting>
      <setting name="TTS1voiceA" serializeAs="String">
        <value />
      </setting>
      <setting name="TTS1voiceB" serializeAs="String">
        <value />
      </setting>
      <setting name="TTS2languagecode" serializeAs="String">
        <value />
      </setting>
      <setting name="TTS2voiceA" serializeAs="String">
        <value />
      </setting>
      <setting name="TTS2voiceB" serializeAs="String">
        <value />
      </setting>
      <setting name="TTSSampleText" serializeAs="String">
        <value />
      </setting>
      <setting name="TTSOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TTSLastRdoOneVoice" serializeAs="String">
        <value />
      </setting>
      <setting name="TTSLastRdoTwoVoices" serializeAs="String">
        <value />
      </setting>
      <setting name="NoSSML" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Pitch" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Speakingrate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Hostname" serializeAs="String">
        <value>Lisa</value>
      </setting>
      <setting name="Guestname" serializeAs="String">
        <value>Peter</value>
      </setting>
      <setting name="TargetAudience" serializeAs="String">
        <value>general audience</value>
      </setting>
      <setting name="DialogueContext" serializeAs="String">
        <value />
      </setting>
      <setting name="Duration" serializeAs="String">
        <value>1000 words</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="ExtraInstructions" serializeAs="String">
        <value />
      </setting>
      <setting name="LastContextSearch" serializeAs="String">
        <value />
      </setting>
      <setting name="CleanTextPrompt" serializeAs="String">
        <value />
      </setting>
      <setting name="AudioOutputDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="TTSProvider" serializeAs="String">
        <value />
      </setting>
      <setting name="LastFreestylePrompt" serializeAs="String">
        <value />
      </setting>
      <setting name="LastFreestyleWasAM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertMarkdownInChat" serializeAs="String">
        <value>False</value>
      </setting>
    </Red_Ink_for_Word.MySettings>
    <RedDragon_for_Word.MySettings>
      <setting name="LastChatHistory" serializeAs="String">
        <value />
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="DoCommands" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeDocument" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeSelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotAlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastPrompt" serializeAs="String">
        <value />
      </setting>
    </RedDragon_for_Word.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
